<div class="card">
    <div class="card-title">
        Crear Ocupacion
    </div>
    <div class="card-body">
        <form [formGroup]="ocupacionForm">
            <div class="row">
                <div>
                    <label>Conductor</label>
                </div>
                <div>
                    <input id="inputIdentificacion" type="text" formControlName="identificacionConductor">
                    <button id="btnIdentificacion" [disabled]="!ocupacionForm.controls.identificacionConductor.valid"
                        (click)="buscarConductor()" class="btn btn-info">Buscar</button>
                    <label id="textoConductor">{{nombreConductor}}</label>
                </div>
            </div>
            <div class="row">
                <div>
                    <label>Vehículo</label>
                </div>
                <div>
                    <input id="inputVehiculo" type="text" formControlName="placa">
                    <button id="btnVehiculo" [disabled]="!ocupacionForm.controls.placa.valid" (click)="buscarVehiculo()"
                        class="btn btn-info">Buscar</button>
                    <label id="textoVehiculo">{{nombreVehiculo}}</label>
                </div>
            </div>
            <div class="row">
                <div>
                    <label>Reserva</label>
                </div>
                <div>
                    <select id="selectReserva" formControlName="idReserva">
                        <option [value]="null">Sin Reserva</option>
                        <option *ngFor="let item of listaReserva | async" [value]="item.id">{{item.fechaInicio | date:
                            'yyyy-MM-dd hh:mm:ss'}} - {{item.fechaFin | date:'yyyy-MM-dd hh:mm:ss'}}</option>
                    </select>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="offset-4 col-2">
                    <button id="atras" class="btn btn-secondary" (click)="atras()">Atras</button>
                </div>
                <div class="col-2">
                    <button id="crear" [disabled]="!ocupacionForm.valid" type="button" (click)="crear()"
                        class="btn btn-primary">Aceptar</button>
                </div>
            </div>
        </form>
    </div>
</div>