<div class="card">
  <div class="card-title">
    <div class="row">
      <div class="col-10">
        Espacio
      </div>
      <div class="col-2">
        <a [routerLink]="['../crear']" routerLinkActive="active">Crear</a>
      </div>
    </div>
  </div>
  <div class="card-body">
    <table>

      <head>
        <tr>
          <th></th>
          <th width="20">
            Id
          </th>
          <th width="70">
            Nombre
          </th>
          <th></th>
        </tr>
      </head>

      <body id="lista_espacios">
        <tr *ngFor="let item of listaEspacio | async">
          <td>
            <a [routerLink]="['../actualizar', item.id]" routerLinkActive="active">Editar</a>
          </td>
          <td>
            {{item.id}}
          </td>
          <td>
            {{item.nombre}}
          </td>
          <td>
            <a href="espacio/listar" (click)="eliminar(item.id)">Eliminar</a>
          </td>
        </tr>
      </body>
    </table>
  </div>
</div>
